{% extends "layout" %}
{% block page %}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Embedded devices</h1>
  </div>
</header>

{% include "what/embedded/pitch" %}
{% include "what/embedded/showcase" %}
{% include "what/embedded/get-started" %}
{% include "what/embedded/testimonials" %}

{% endblock %}
